<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>

    <h1>{{ request.session.user_name }}! 欢迎回来！</h1>
    <p>
        <a href="/logout/">登出</a>
    </p>
    {% if not isdriver %}
    <div>
        <a href="/index/driverdetail">be a driver!</a>
    </div>
    {% endif %}
    <div>
        <a href="/index/profile">profile</a>
    </div>
    <div>
        <a href="/index/openride">open a ride as an owner</a>
    </div>
    <div>
        <a href="/index/shareride">search a ride as a sharer</a>
    </div>
    {% if isdriver %}
    <div>
        <a href="/index/driveride">search a ride as a driver</a>
    </div>
    {% endif %}

    <div>
        <h2>Owner:</h2>
        {% for ride in owner_rides %}
        <p>owner:{{ride.owner}}</p>
        <p>cartype:{{ride.cartype}}</p>
        <p>ridedriver:{{ride.ridedriver}}</p>
        {% for sharer in ride.sharer.all %}
        <p>sharer:{{sharer.name}}</p>
        {% for relationship in relationships %} {% if relationship.user == sharer and relationship.ride == ride %}
        <p>sharernumber:{{relationship.groupnumber}}</p>
        {% endif %} {% endfor %} {% endfor %}
        <p>dest:{{ride.dest}}</p>
        <p>arrivaltime:{{ride.arrivaltime}}</p>
        <p>endtime:{{ride.endtime}}</p>
        <p>freeText:{{ride.freeText}}</p>
        <p>------------------------------------</p>

        {% endfor %}
    </div>
    <div>
        <h2>Sharer</h2>
        {% for ride in sharer_rides %}
        <p>owner:{{ride.owner}}</p>
        <p>cartype:{{ride.cartype}}</p>
        <p>ridedriver:{{ride.ridedriver}}</p>
        {% for sharer in ride.sharer.all %}
        <p>sharer:{{sharer.name}}</p>
        {% for relationship in relationships %} {% if relationship.user == sharer and relationship.ride == ride %}
        <p>sharernumber:{{relationship.groupnumber}}</p>
        {% endif %} {% endfor %} {% endfor %}
        <p>dest:{{ride.dest}}</p>
        <p>arrivaltime:{{ride.arrivaltime}}</p>
        <p>endtime:{{ride.endtime}}</p>
        <p>freeText:{{ride.freeText}}</p>
        <p>------------------------------------</p>

        {% endfor %}
    </div>
    <div>
        <h2>Driver</h2>
        {% for ride in driver_rides %}
        <p>owner:{{ride.owner}}</p>
        <p>cartype:{{ride.cartype}}</p>
        <p>ridedriver:{{ride.ridedriver}}</p>
        {% for sharer in ride.sharer.all %}
        <p>sharer:{{sharer.name}}</p>
        {% for relationship in relationships %} {% if relationship.user == sharer and relationship.ride == ride %}
        <p>sharernumber:{{relationship.groupnumber}}</p>
        {% endif %} {% endfor %} {% endfor %}
        <p>dest:{{ride.dest}}</p>
        <p>arrivaltime:{{ride.arrivaltime}}</p>
        <p>endtime:{{ride.endtime}}</p>
        <p>freeText:{{ride.freeText}}</p>
        {% endfor %}
    </div>
</body>

</html>