{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/register.css' %}" rel="stylesheet" />
    <title>editprofile</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <div class="container main">
            <div id="index_right" class="col-md-10 text-center right">
                <div style="width=50%">
                    <h3 class="text-center">Edit Profile</h3>
                    <p class="home-description">
                        <label>
                            Username: 
                            <input name="username" type="text" value="{{ cur_user.name }}" class="form-control">
                        </label>
                    </p>
                    <p class="home-description">
                        Gender: {% if cur_user.sex == "male" %}
                        <label>
                                <input name="sex" type="radio" value="male" checked>Male
                            </label>
                        <label>
                                <input name="sex" type="radio" value="female">Female
                            </label> {% else %}
                        <label>
                                <input name="sex" type="radio" value="male">Male
                            </label>
                        <label>
                                <input name="sex" type="radio" value="female" checked>Female
                            </label> {% endif %}
                    </p>
                    <p class="home-description">
                        <label>
                            Email:
                            <input name="email" type="text" value="{{ cur_user.email }}" class="form-control">
                        </label>
                    </p>
                    {% if cur_user.driver %}
                    <p class="home-description">
                        <label>
                                <input name="driver" type="checkbox" value="True" checked> still want to be a driver
                        </label>
                    </p>
                    <p class="home-description">
                        <label>
                            Car Type:
                            <input name="cartype" type="text" value="{{ cur_car.cartype }}" class="form-control">
                        </label>
                    </p>
                    <p class="home-description">
                        <label>
                             Plate Number:
                            <input name="plateNumber" type="text" value="{{ cur_car.plateNumber }}" class="form-control">
                        </label>
                    </p>
                    <p class="home-description ">
                        <label>
                            Passenger Number:
                            <input name="passengersNumber" type="text" value="{{ cur_car.passengersNumber }}" class="form-control">
                        </label>
                    </p>
                    <p class="home-description ">
                        <label>
                            Free Text:
                            <input name="freeText" type="text" value="{{ cur_car.freeText }}" class="form-control">
                        </label>
                    </p>
                    {% endif %}
                    <a class="btn btn-secondary" href="/index/profile/" role="button">back</a>
                    <br>
                    <p>
                        <button class="btn btn-success" style="margin-top:10px" type="submit" value="submit">submit</button>
                    </p>

                </div>

            </div>
        </div>

    </form>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>