{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{% static 'login/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/register.css' %}" rel="stylesheet" />
    <title>editprofile</title>
</head>

<body>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}{% if message %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <div class="container main">
            <div id="index_right">
                <div class="form-group">
                    {{ form.groupnumber.label_tag }} {{ form.groupnumber}}
                </div>
                <!-- <a href="/index/">back</a>
                <p style="position: absolute; left: 180px;top: 735px;" class="center">
                    <button type="submit" value="submit">submit</button>
                </p> -->
            </div>
            <div>
                <!-- <a href="/index/"><ins>back</ins></a> -->
                <a class="btn btn-secondary" href="/index/" role="button">back</a>
                <button type="submit" class="btn btn-success float-right" style="margin-top:25px">submit</button>
            </div>
        </div>

    </form>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>