{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/register.css' %}" rel="stylesheet" />
    <title>register</title>
</head>

<body>
    <!-- /container -->
    <br>
    <br>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data" action="/index/shareride/result{{sharenumber}}/">
        {% csrf_token %}
        <div class="container main">
            <div id="index_right">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Choose one
                                </td>
                                <td>
                                    Owner
                                </td>
                                <td>
                                    People in the ride
                                </td>
                                <td>
                                    Destination
                                </td>
                                <td>
                                    Time
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ride in ridelist %}
                            <tr>
                                <td>
                                    <label>
                                        <input name="ride" type="radio" value="{{ride.id}}">
                                    </label>
                                </td>
                                <td>
                                    {{ride.owner}}
                                </td>
                                <td>
                                    {{ride.carspace}}
                                </td>
                                <td>
                                    {{ride.dest}}
                                </td>
                                <td>
                                    {{ride.arrivaltime}}
                                </td>
                            </tr>
                            <!-- <label>
                                    <input name="ride" type="radio" value="{{ride.id}}">
                                    {{ride.owner}} {{ride.dest}} {{ride.endtime}}
                                </label>  -->
                            {% endfor %}
                        </tbody>

                    </table>

                </div>
                <div>
                    <!-- <a href="/index/"><ins>back</ins></a> -->
                    <a class="btn btn-secondary" href="/index/shareride/" role="button">back</a>
                    <button type="submit" class="btn btn-success float-right" style="margin-top:25px">submit</button>
                </div>
            </div>
        </div>

    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>